@model FinalProject.Models.ViewModels.StudentRegViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register A Student";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<!----------------------------------------------------------------------Student Registration-->
<div class="section registerStudent brown lighten-5">
    <div class="container">
        <h4 class="center-align">Student Registration</h4>
        <div class="spacer"></div>
        <br />
        <form asp-controller="Account" asp-action="RegisterStudent">
            <div class="input-field col s6">
                <input id="User_Name" type="text" asp-for="UserName" class="validate">
                <label for="User_Name">User Name</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" asp-for="FirstName" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" asp-for="LastName" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="age" type="text" asp-for="Age" class="validate">
                    <label for="age">Age</label>
                </div>
                <div class="col s6" style="padding-top: 15px;">
                    <select asp-for="Gen">
                        <option value="" selected disabled>Gender:</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            @*<div class="row">
            <div class="col s12">
                <select>
                    <option value="" selected disabled>City:</option>
                    <option value="volvo">Yavne</option>
                    <option value="saab">Tel Aviv</option>
                    <option value="opel">Ramat Gan</option>
                    <option value="audi">Holon</option>
                </select>
            </div>
        </div>*@
            <div class="row">
                <div class="col s12">
                    <input id="City" type="text" asp-for="City" class="validate">
                    <label for="City">City</label>
                </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <select>
                            <option value="" selected disabled>Education:</option>
                            <option value="None">None</option>
                            <option value="High_School">High School</option>
                            <option value="Academic">Academic</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="text" asp-for="Email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="pass" type="password" asp-for="Password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="repass" type="password" asp-for="ConfirmPassword" class="validate">
                        <label for="repass">Re-Enter Password</label>
                    </div>
                </div>
                @*<div class="row">
                    <div class="file-field input-field">
                        <div class="btn right">
                            <span>Browse</span>
                            <input type="file" />
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload Profile Picture" />
                        </div>
                    </div>*@
                @*</div>*@
                <h5>Prefrences: </h5>
                <div class="row">
                    <div class="col s6">
                        <p class="range-field">
                            Distance:
                            <input type="range" asp-for="Distance" id="test5" min="0" max="10" />
                        </p>
                    </div>
                    <div class="col s6">
                        <p class="range-field">
                            Price:
                            <input type="range" asp-for="Price" id="test5" min="0" max="10" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <p class="range-field">
                            Teacher Ranking:
                            <input type="range" asp-for="TeachRanking" id="test5" min="0" max="10" />
                        </p>
                    </div>
                    <div class="col s6">
                        <p class="range-field">
                            Number of students the teacher teached:
                            <input type="range" asp-for="NumOfStud" id="test5" min="0" max="10" />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <input type="submit" id="registerStudent" class="btn-large waves-effect waves-light teal lighten-1" value="Register"/>
                    </div>
                </div>
    </form>
    </div>
</div>
