@model FinalProject.Models.ViewModels.InsertHoursViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!----------------------------------------------------------------------Control Panel Navigation Links -->
<div id="navCPanel" class="section brown lighten-5">
    <div class="container" style="padding-bottom:15px;">
        <div class="container">
            <div class="row">
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">schedule</i>Schedule
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">mail_outline</i>Messages
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">developer_board</i>Statistics
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">history</i>Lessons History
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">person</i>Edit Profile
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">group_work</i>Manage Groups
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="HoursForm" asp-controller="TeachingHours" asp-action="InsertHours">


    <input type="hidden" asp-for="NumOfRows"/>
    <input type="hidden" id="IsDone" asp-for="IsDone" />
    @for (int i = 0; i < Model.NumOfRows; i++)
    {
        <input type="date" asp-for="@Model.AvailList[i].Date" />
        <input type="time" asp-for="@Model.AvailList[i].StartHour" />
        <input type="time" asp-for="@Model.AvailList[i].FinishHour" />
    }

    <input type="button" onclick="moreFields()" id="AddHours"value="+"/>
    <input type="submit" value="Save" />
</form>

<script>
    function moreFields() {
        document.getElementById("IsDone").value = "False";
        document.getElementById("HoursForm").submit();
    }
</script>