@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<!----------------------------------------------------------------------Search Section---->
<div class="section searchSection">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text lighten-1" style="text-shadow: 2px 2px #453004;">Find your teacher</h1>
        <div class="row brown lighten-5 z-depth-4" style="padding:10px;">
            <form action="#">
                <div class="col l2 s6" style="padding-top:10px;">
                    <label>
                        <input name="group1" type="radio" checked />
                        <span class="brown-text">Private Lesson</span>
                    </label>
                </div>
                <div class="col l2 s6" style="padding-top:10px;">
                    <label>
                        <input name="group1" type="radio" />
                        <span class="brown-text">Group Lesson</span>
                    </label>
                </div>
                <div class="col l2 s12">
                    <select>
                        <option value="volvo" selected disabled>Area:</option>
                        <option value="volvo">Yavne</option>
                        <option value="saab">Tel Aviv</option>
                        <option value="opel">Ramat Gan</option>
                        <option value="audi">Holon</option>
                    </select>
                </div>
                <div class="col l2 s12">
                    <select>
                        <option value="volvo" selected disabled>Category:</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                    </select>
                </div>
                <div class="col l2 s12">
                    <select>
                        <option value="volvo" selected disabled>Subject:</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                    </select>
                </div>
                <div class="col l2 s12">
                    <select>
                        <option value="volvo" selected disabled>Level:</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                        <option value="volvo">------</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Search</a>
        </div>
        <br><br>
    </div>
</div>
<!--------------------------------------------------------------------About Us----->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <div class="icon-block">
                    <p>
                        <h2 class="left brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="left" style="margin-left: 20px;padding-top:30px;">About Us</h5>
                    </p>
                </div>
                <div class="col s12 m12">
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------New Group Lessons/Popular Teachers/Students Recommendations------>
<div class="section recommendationsSection">
    <div class="container">
        <!-- use different class for floatingCards float-/float2-/float3-...-->
        <!-- each holdCards needs its own css class in style.css-->
        <div class="row center">
            <div class="col s12 l4">
                <h6 class="white-text center-align" style="margin-bottom:20px;">
                    New Group Lessons
                </h6>
                <div class="holdCards">
                    <div class="floatingCard float-1" style="background-color:#607d8b; z-index:4;">
                        <div class="center-align">
                            <h5 class="white-text">Title First</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="floatingCard float-2" style="background-color:#607d8b; z-index:3;">
                        <div class="center-align">
                            <h5 class="white-text">Title Second</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <h6 class="white-text center-align" style="margin-bottom:20px;">
                    Students Recommendations
                </h6>
                <div class="holdCards2">
                    <div class="floatingCard float2-1" style="background-color:#607d8b; z-index:4;">
                        <div class="center-align">
                            <h5 class="white-text">Title First</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="floatingCard float2-2" style="background-color:#607d8b; z-index:3;">
                        <div class="center-align">
                            <h5 class="white-text">Title Second</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="floatingCard float2-3" style="background-color:#607d8b; z-index:2;">
                        <div class="center-align">
                            <h5 class="white-text">Title Third</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="floatingCard float2-4" style="background-color:#607d8b; z-index:1;">
                        <div class="center-align">
                            <h5 class="white-text">Title Fourth</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <h6 class="white-text center-align" style="margin-bottom:20px;">
                    Popular Teachers
                </h6>
                <div class="holdCards3">
                    <div class="floatingCard float3-1" style="background-color:#607d8b; z-index:4;">
                        <div class="center-align">
                            <h5 class="white-text">Title First</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="floatingCard float3-2" style="background-color:#607d8b; z-index:3;">
                        <div class="center-align">
                            <h5 class="white-text">Title Second</h5>
                            <p class="left-align white-text">
                                I am a very simple card. I am good at containing small bits of information.
                            </p>
                            <div style="margin-top:20px;">
                                <a href="#" class="cardLink">This is a link</a>
                                <a href="#" class="cardLink">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>